name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag myimage:latest

      - name: Save Docker image to file
        run: docker save myimage:latest | gzip > myimage.tar.gz

      - name: Create Release & Upload Image
        uses: ncipollo/release-action@v1
        with:
          tag: docker-image-${{ github.run_number }}
          name: Docker image build ${{ github.run_number }}
          body: |
            This release contains the Docker image built from the current commit.
          artifacts: myimage.tar.gz
          allowUpdates: true